.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 0.6rem;
}

.logo {
  border-right: 1px solid #ebe8e7;
}
.logo img {
  max-width: 8rem;
}


@media (max-width: 760px) {
  .container {
    max-width: 500px;
  }
}


