.backgroundImage {
  width: 100%;
  min-height: 400px;
  background: url('../../img/bg-img.jpg') no-repeat center center;
  background-size: cover;
}
.aboutcontent {
  max-width: 600px;
  margin: 2rem auto;
  padding: 1rem;
}
.aboutcontent h2 {
  text-align: center;
}

@media (max-width: 760px) {
  .backgroundImage {
    min-height: 200px;
  }
}
