.main {
  margin: 2rem 0;
  padding: 1rem;

}

.mainrow {
  display: grid;
  grid-template-columns: 20rem 1fr;
  gap: 1rem;
  align-items: start;
}

.mainCategory {
  border-right: 1px solid #ebe8e7;
}

.spaced {
  display: grid;
  grid-template-columns: 20rem 1fr;
  margin-bottom: 3rem;
}

.spaced img {
  display: none;
}
.spaced span {
  opacity: 0;
}

.mainTitle {
  font-weight: bold;
  font-size: 2rem;
  color: var(--color-black);
}

.mainList {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}

.mainContentlist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 1rem;
}

.contentitem {
  cursor: pointer;
  margin-bottom: 4rem;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.contentitem:hover {
  transform: translateY(-8px);
}

.contentinfo {
  margin: 1.5rem 0 0 0;
  display: grid;
  gap: 0.6rem;
}
.contentinfo h4 {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentinfo p {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-grey);
}

@media (max-width: 988px) {
  .mainrow {
    grid-template-columns: 1fr;
  }
  .mainCategory {
    border: none;
    display: none;
  }
  .mainCategory.ative {
    display: block;
    transition: 0.3s;
    animation: 0.3s showDown;
  }

  @keyframes showDown {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .spaced {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .spaced span {
    opacity: 1;
    order: 1;
    cursor: pointer;
    padding: 0.6rem;

    display: flex;
    align-items: center;
    gap: 0.6rem;
    color: var(--color-grey);
  }
  .spaced span img {
    width: 15px;
    display: block;
  }
}

@media (max-width: 760px) {
  .mainTitle {
    font-size: 1rem;
  }
  .spaced {
    margin-bottom: 1rem;
  }
}

.contentitem-span {
  display: block;
  padding: 0.5rem 1rem;
  background: white;
  border-radius: 0.6rem;
  /* box-shadow: 0 4px 2px 2px rgba(0, 0, 0, .5); */
  border: 1px solid red;
}

.contentitem-span button {
  width: 100%;
  display: block;
}

.contentitem-span {
  font-size: 0.8rem;
}
